{% extends "categories/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <form method="POST">
    {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Delete task</legend>
                <div class="mb-3">Do you wish to delete task "{{object.name}}"?</div>
            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
            <a class="btn btn-secondary btn-sm" href="{% url 'category' object.category.id %}">Cancel</a>
        </fieldset>
</form>
{% endblock content %}