{% extends "categories/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <form method="POST">
    {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Edit task</legend>
                {{ form.name }} Completed {{ form.done }}
        </fieldset>
        <button class="btn btn-info btn-sm" type="submit">Update</button>
        <a class="btn btn-secondary btn-sm" href="{% url 'category' object.category.id %}">Cancel</a>
</form>
{% endblock content %}